---
layout: base
---
.row
  .span12
    %h2 Projects
    %p 
      Here are of some of the projects I am currently contributing to.
      Mostly I'm writing Java and Javascript at the moment, but I've
      got a checkered past with Ruby as well.

    %a.btn.btn-link{ :href=>'http://dynjs.org' } DynJS &raquo;
    .panel
      %a{ :href=>'http://dynjs.org' } DynJS
      is a Javascript runtime for the JVM.
      I'm a core contributor on the DynJS project. 

    %a.btn.btn-link{ :href=>'https://github.com/vert-x/mod-lang-js' } mod-lang-js &raquo;
    .panel
      %code 
        %a{ :href=>'http://github.com/vert-x/mod-lang-js' } mod-lang-js
      is the Javascript language module for 
      %a{:href=>'http://vertx.io'} Vertx.x
      and is used by both
      %code
        %a{:href=>'http://github.com/vert-x/mod-lang-dynjs'} mod-lang-dynjs
      and
      %code
        %a{:href=>'http://github.com/vert-x/mod-lang-rhino'} mod-lang-rhino.
      I'm the module owner and core contributor for all three projects.

    %a.btn.btn-link{ :href=>'http://nodyn.io' } Nodyn &raquo;
    .panel
      %a{ :href=>'http://nodyn.io' } Nodyn
      is a new, not-yet-complete clone of the
      %a{:href=>'http://nodejs.org'} Node.js 
      API. It's my baby and kind of a skunkworks effort at this point.

    %a.btn.btn-link{ :href=>'http://torquebox.org' } TorqueBox &raquo;
    .panel
      %a{ :href=>'http://torquebox.org' } TorqueBox
      is a Ruby application server that does some pretty amazing stuff.
      I'm a core contributor on the TorqueBox project.

