---
title: Home Page
layout: layout.jade
---

h1 Hi
.intro I'm Lance Ball. I write software. I work for&nbsp;
  a(href="http://jboss.org") JBoss
  span &nbsp;in a group called&nbsp;
  a(href="http://projectodd.org") project:odd
  span.
    . Among other things, I get to work on new and experimental projects.
    In truth, that also means that I write and then throw away a lot of code.
    The upside is that I get to work on some projects that eventually grow legs
    and have a life. 

.row
  .col-md-10
    h2
      span.glyphicon.glyphicon-hand-right
      span Some Projects
    p Here are some of the projects that I have written or contributed to.
    .well

      ul
        li <strong><a href="http://wildfly-swarm.io">WildFly Swarm</a></strong> - A microservices framework and runtime for Java.
        li <strong><a href="http://vertx.io">Vert.x</a></strong> - A reactive application framework and runtime for the JVM.
        li <strong><a href="http://dynjs.org">DynJS</a></strong> - A JavaScript runtime written for the JVM.
        li <strong><a href="http://nodyn.io">Nodyn</a></strong> - A Node.JS runtime written for the JVM.
        li <strong><a href="http://torquebox.org">TorqueBox</a></strong> - A JRuby application server.
        li <strong><a href="https://github.com/steamcannon/steamcannon">SteamCannon</a></strong> - A pitiful PaaS.
        li <strong><a href="https://github.com/nodyn/jvm-npm">jvm-npm</a></strong> - A JavaScript NPM module implementation for JVM JavaScript environments
        li <strong><a href="https://www.npmjs.com/package/fidelity">fidelity</a></strong> - A lightweight, spec-compliant Promises/A+ implementation
        li <strong><a href="https://www.npmjs.com/package/rhq-metrics">rhq-metrics</a></strong> - A Node.js client for the JBoss RHQ Metrics Server
        
.row
  .col-md-10
    h2
      span.glyphicon.glyphicon-hand-right
      span Things I've Said in Public
    p.
      Sometimes I go places and talk about my work. Here are some videos of me doing that, or at least the slides I used.

    .well
      ul
        li
          span.glyphicon.glyphicon-film &nbsp;
          span <strong><a href="https://www.youtube.com/watch?v=HguM1tCE_FI">Microservices in a Java EE World</a></strong> - Red Hat Microservices Architecture Day 2015
        li
          span.glyphicon.glyphicon-blackboard &nbsp;
          span <strong><a href="http://lanceball.com/process-bindings/#/">Process Bindings: How to do Node.js on the JVM</a></strong> - CodeMash 2015
        li
          span.glyphicon.glyphicon-blackboard &nbsp; 
          span <strong><a href="http://lanceball.com/dataIO2013/">Vert.x: Async Data From Cluster to Browser</a></strong> - DataIO 2013
        li
          span.glyphicon.glyphicon-blackboard &nbsp;         
          span <strong><a href="https://github.com/lance/dev-ignition-2013">Vert.x - Bringing the Browser to the Cluster</a></strong> - DevIgnition 2013
        li
          span.glyphicon.glyphicon-film &nbsp;          
          span <strong><a href="https://www.youtube.com/watch?v=YgU3Ai54Udc">Complex Made Simple: Sleep Better with TorqueBox</a></strong> - RailsConf 2012
        li
          span.glyphicon.glyphicon-blackboard &nbsp;
          span <strong><a href="https://github.com/lance/rubyhoedown-2012">Simple Scalability With TorqueBox</a></strong> - Ruby Hoedown 2012
        li
          span.glyphicon.glyphicon-blackboard &nbsp; 
          span <strong><a href="https://www.dropbox.com/s/ng4l5cao9izkjif/2011-strangeloop.pdf?dl=0">DataMapper on Infinispan: Clustered NoSQL</a></strong> - StrangeLoop 2012
          
